$Bgground: url(../img/m-h-day.jpg);
$logoH: 34px;
$logoM: -4px;
$logoLH: -5px;
$logoContent: 'Fresca', sans-serif;
$bottonColor: #689900;
$bottonBg: white;
$sectionBg: white;
$sectionFone: 'Source Sans Pro', sans-serif;
$sectionCardBg: #21232e;
$sectionBorder-radius: 5px;
$specialBg: #14a0c7;
$sectionFontC: #b9bbc0;
$cards-height: ("1": 13.35rem, "2": 12.95rem, "3": 14.25rem);
$footerFrom: #639410;
$footerTo: #2d5bd8;
$font-weights: ("regular": 400, "medium": 500, "bolder": 600,"bold": 700);
$text-width-ratios: ("1": 1.65, "2": 1.75, "3": 1.464);