$Bgground: url(../img/m-h-night.jpg);
$sectionBg: #20222E;
$logoH: 34px;
$logoM: 0;
$logoLH: 0;
$logoContent: 'Fresca', sans-serif;
$bottonColor: #E3AC00;
$bottonBg: white;
$sectionBg: #21232E;
$specialBg: #FF4E32;
$sectionFone: 'Source Sans Pro', sans-serif;
$sectionCardBg: #3A3F50;
$sectionFontC: #b9bbc0;
$cards-height: ("1": 13.85rem, "2": 13.3rem, "3": 14.8rem);
$footerFrom: #DDA305;
$footerTo: #932C52;
$font-weights: ("regular": 400, "medium": 500, "bolder": 600, "bold": 700);
$text-width-ratios: ("1": 1.55, "2": 1.65, "3": 1.364);