.material-icons {
  color: orange;
  margin-right: 5px;
  cursor: pointer;
}

.material-icons.grey {
  color: grey;
}

.folder-children {
  padding-left: 20px;
  display: none;
}

.folder,
.folder-file {
  display: flex;
  align-items: center;
}

.folder:hover,
.folder-empty:hover,
.folder-file:hover {
  background: #f0f0f0;
  cursor: pointer;
}

.folder-empty {
  font-style: italic;
}

.folder-open + .folder-children {
  display: block;
}
